/* For Tablet Size Screens */

@media (max-width: 768px) {
  .cart-item {
    display: flex;
    flex-direction: column;
  }

  .cart-img {
    width: 80% !important;
    margin: 2rem auto !important;
  }

  .cart-img img {
    width: 90% !important;
    margin: 2rem auto !important;
  }

  .cart-content {
    width: 90% !important;
    margin: 1rem auto !important;
  }
}

/* For Mobile Size Screens */

@media (max-width: 426px) {
  .cart-img {
    width: 100% !important;
    margin: 2rem auto !important;
  }

  .cart-content {
    width: 100% !important;
    margin: 1rem auto !important;
  }
}
