.mycontainer{
    border-style: solid;
    border-color: rgb(222, 222, 222);
    width: 190px;
    margin:40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.image{
    width:100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: contain;
}
.thisimage{
    max-height: 200px;
    max-width: 190px;
}
.thisimage:hover{
    animation: pulse 0.5s; /* Adjust animation name and duration as needed */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
p{
    margin:5px;
}


.product {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  /* Apply the animation when the elements are in view */
  .product.active {
    animation: moveIn 0.5s forwards;
  }
  
  /* Define the animation when the elements are scrolled into view */
  @keyframes moveIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .box {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 2s, transform 0.5s;
  }
  
  /* Apply the animation when the elements are in view */
  .box.active {
    opacity: 1;
    transform: translateY(0);
  }

  /* Decrease and Increase Buttons */
  
  .checkout-section .btn-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  
  .checkout-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 3px; /* Added margin for spacing */
  }
  
  .checkout-section .input-container {
    display: flex;
    align-items: center;
    margin: 0 3px; /* Added margin for spacing */
  }
  
  .checkout-section .quantity-input {
    width: 40px;
    height: 30px;
    border: 1px solid #e0e0e0;
    padding: 0 5px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    border-radius: 5px;
  }
  
  