.mycontainer{
    border-style: solid;
    border-color: rgb(222, 222, 222);
    width: 190px;
    margin:40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.image{
    width:100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: contain;
}

p{
    margin:5px;
}
