body{
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.uppernav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.logo{
    height: 60px;
    width:60px;
    margin:auto 20px;
}
.logo-and-title{
    display: flex;
    align-items: center;
}
.searchbar{
    height: 45px;
    width: 40%;
    border-radius: 100px;
    background-color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: stretch;
    display: flex;
    overflow: hidden;
}
.search-icon{
    height: 75%;
    margin-left:8px;
    opacity: 50%;
}
.search-input{
    background: transparent;
    border: none;
    height: inherit;
    font-size: 20px;
    margin-left:5px;
    width:70%;
}
.search-input::placeholder{
    text-align: center;
}
.search-input:focus{
    outline: none;
}
.search-button{
    height: inherit;
    width: 150px;
    color:white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-image: linear-gradient(to right,orange,red);
}
.bag-icon{
    height: inherit;
}
.lowernav{
    display: flex;
    background-color: rgb(6, 186, 203);
    gap: 30px;
    justify-content: center;
}
.lowernav div{
    font-size: 20px;
    margin: 5px;
    color:white;
}
.heading,.cart-button{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: large;

}
.smnvit{
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
}
.smnvit:hover{
    cursor: pointer;
    opacity: 1;
    background-color: black;
}
.navbar{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.563);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
}
@media only screen and (min-width:800px){
    .navbar{
        z-index: 1;
        --bs-navbar-padding-y: 0;
    }
}

nav {
    display: flex;
    justify-content: space-evenly!important; 
}

.bi-search{
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
  